 .bannerSecBody{
    background: #EEF2FE;
    height: 100%;
  padding-bottom: 20px;
 }

 .bannerText{
    padding: 48px 0;
 }
 .bannerText h2{
    color: #9B1FE9;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 20px;
 }
 .bannerText p{
    color: #737373;
 }