
.modalImg{
    background-color:#F5F7FD ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
  
}
.modalImg img{
width:100px;
height: 100px;

}
.waletText{
    color: #9B1FE9;
    font-size: 18px;
    font-weight: 600;
}

.waletButton{
    border: 3px solid #9B1FE9;
}