.navigationHeader{
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
     height: 70px;
}
.navLogo{
    color:#9B1FE9;
    font-size: 25px ;
    font-weight: 600;
}
.navIcons{
    font-size: 30px;
}

.waletButton{
    border: 3px solid #9B1FE9;
    background: #fff;
    color: #9B1FE9;
    padding: 5px 28px;
}
.waletButton span{
    font-size: 20px;
}
.waletButton:hover{
    background:white;
    color: #9B1FE9;
    border:3px solid #9B1FE9;
    

}

.EthText{
    border: 1px solid #eee;
    padding: 3px 25px;
    border-radius: 8px;
    margin-right: 10px;
  
}

.EtherText{
    width: 300px;
    margin-top: 5px;
    
}