.registerPage{
    background-color:#EEF2FE ;
    height: 80vh;
}
.FormSection{
    
}
.socialLogin{
    background: none;
     display: flex;
     justify-content: center;
     margin: 0 auto;
     font-size: 20px;
     margin-top: 4px;
     width: 25%;
     box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
     border: none;

}
.socialLogin:hover{
    background-color:#eee;
    
}

.commonColor{
    color:#9B1FE9;
    font-weight: 600;
}
.commonBtn{
    background:#9B1FE9;
    font-weight: 600;
    border: none;
}
.commonBtn:hover{
  background:#a25dce;  ;
}