.notice{
    height: 80px;
    width: 100%;
    background-color: #9B1FE9;
    display: flex;
    justify-content: center;
   align-items: center;
    
    color: #fff;
   
}
.notice p{
    font-weight:500  ;
}