 
@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap') ;


*{
 
    font-family: "Varela Round", sans-serif;
}
p {
    margin-top: 0!important;
    margin-bottom:0 !important  ;
} 
a{
    text-decoration: none;
    color:#737373;
    font-size: 16px;
}