.walet{
    background-color: #fff;
    border: 1px solid #eee;
    padding: 25px 20px;
}
.waletWarnning{
background-color:#EEF2FE ;
border-radius: 2px;
padding: 5px 10px;
display: flex;
align-items: center;
gap: 10px;
}
.waletIcon{
    font-size: 22px;
    color: #9B1FE9;
}
.waletText{
    font-size: 14px;
 padding-top: 3px;
}

.walletAddress{
    width: 50%;
}
.waletForm{
    display: flex;
    justify-content: space-between;

}
.formBtn{
    background: #9B1FE9;
    border: none;

}

.waletHistory{
    margin-top: 40px;
}
.waletHistory p{
    margin-top: 10px;
    font-weight: 900;
}
.EmailTitle{
    color: #9B1FE9;
    font-weight: 600;
    font-size: 14px;
}